table {

  margin: 0 auto;
  border: thin solid black; 
  border-width: 50px;
  font-family: Garamond, Verdana, serif;
}

tr {
  background: black; height: 80px;
}

td {
  background: black; width: 80px;
 }

tr:nth-child(odd) td:nth-child(even) { /* rândurile pare vor fi redate diferit */ 
  background: white;
  
}

tr:nth-child(even) td:nth-child(odd) { /* rândurile pare vor fi redate diferit */ 
  background: white;
  
}

h1 {
  font-size: 40px;
  color: green;
  text-align: center;
  vertical-align : middle;
  position: relative;
}






 