table {
	width: 20%;
	height: 200px;
	border: 1px solid black;
	align-self: center;
	background-color: #ff0023;
}

th {
	width: 20px;
	height: 20px;
	vertical-align: center;
	border: 1px solid black;
	padding-top: 0.5;
	padding-left: 0.5;
}

th:hover {background-color: #ff0012}

p {
	font-size: 125%;
}

tr:nth-child(2) {background: #ff0089}
