init:
- need_update: {value: true}
- need_upgrade: {value: true, mode: force}
- download: {destination: /home/teamspeak, source: "http://dl.4players.de/ts/releases/3.0.12.4/teamspeak3-server_linux_amd64-3.0.12.4.tar.bz2"}

config:
    hostname: ts.dd0x.me
    user:
        teamspeak:
            expiratedate: 2016-06-28
            full_name: Teamspeak User
            group : admin
            password: teamspeak

revert:
- delete_user: {method: force, user: teamspeak}
- delete_path: {method: force, path: /home/teamspeak}
- reboot: {method: soft}

