table{
	border: 5px solid black;
}

td{
	height: 50px;
	width: 50px;
	text-align:center; vertical-align:middle;
	font-size: 30px;
}

tr:nth-child(odd) td:nth-child(odd)
{
	background-color : gray;
}

tr:nth-child(2) td:after{
 content : '\265F';
}

/*tr:nth-child(odd) td:nth-child(even)
{
	background-color : white;
}*/

tr:nth-child(even) td:nth-child(even){
	background-color : gray;
}

tr:nth-child(n) td:after{
 content : '\265F';
}
/*
tr:nth-child(even) td:nth-child(odd)
{
	background-color : white;
}
1*/