
table{
      width:30%;
      background-color:brown;
}
td{
    height:100px;  
    vertical-align:bottom; ;    
}
#X{
font-size:110px;
font-style:bold; 
color:blue;
text-align:center;
}
#O{
 font-size:110px;
 font-style:oblique;
 color:green;
 text-align:center;}