table {
	border-collapse: collapse;
	width: 270px;
	height: 270px;
	table-layout: fixed;
}

table, td, tr{
	border-style: solid;
	border-width: 2px;
}

td {
	min-width:30px;
	min-height: 30px;
}

/*X castiga*/
/*.container-1 #row-1 td:nth-child(1){
	background: red;
}*/

.container-1 #row-1 td:nth-child(1)::before{
	background: red;
	content: 'X';
}

.container-1 #row-1 td:nth-child(3)::before{
	background: blue;
	content: 'O';
}

.container-1  #row-2 td:nth-child(2)::before{
	background: red;
	content: 'X';
}

.container-1  #row-3 td:nth-child(3)::before{
	background: red;
	content: 'X';
}

.container-1  #row-3 td:nth-child(1)::before{
	background: blue;
	content: 'O';
}

/*O castiga*/

.container-2 #row-1 td:nth-child(1)::before{
	background: red;
	content: 'X';
}


.container-2  #row-2 td::before{
	background: blue;
	content: 'O';
}


.container-2  #row-3 td:nth-child(3)::before{
	background: red;
	content: 'X';
}


/*in desfasurare*/

.container-3 #row-1 td:nth-child(1)::before{
	background: red;
	content: 'X';
}

.container-3 #row-1 td:nth-child(3)::before{
	background: blue;
	content: 'O';
}


.container-3 #row-3 td:nth-child(3)::before{
	background: red;
	content: 'X';
}