after_install:
- reboot: {method: soft}
before_install:
- download: {destination: /home/alex/script.sh, source: 'https://localhost/file'}
config:
  hostname: TuxyNode-1
  users:
    acoman:
      expiredate: '2016-09-01'
      full_name: Alexandru Coman
      groups: [users]
      password: ''
      primary-group: admin
  write_files:
    0: {content: '', encoding: gzip, path: /home/alex/test, permissions: '0555'}
install:
- run_script:
    attempts: 3
    check_exit_code: true
    command: bash /home/alex/script.sh
    cwd: /home/alex/
    env_variables: {tuxy: Tuxy Pinguinescu}
    retry_interval: 3
    shell: true
install_failed:
- delete: {method: force, path: /home/alex}
- shutdown: {method: hard}
